html,
body {
    padding: 0;
    margin: 0;
    background-image: url("../images/beige-tiles.png");
}

/* navigation */
nav {
    float: right;
    margin: 10px;
    margin-right: -50px;
}

nav li:not(:last-child) {
    border-right: 1px solid #dddddd;
}

nav li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

nav li a {
    text-decoration: none;
    color: #777777;
    font-size: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* header */
.header {
    box-shadow: 0 4px 2px -2px #cccccc;
    height: 80px;
    background: #ffffff;
}

h1 {
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

.header-wrapper {
    height: auto;
    width: 960px;
    margin: auto;
}

.brand {
    float: left;
    background: teal;
    color: #eee;
    padding-left: 45px;
    padding-right: 45px;
    margin-left: -33px;
}

/* content */
.content {
    width: 960px;
    margin: auto;
    background: #ffffff;
    padding: 32px;
    margin-top: 32px;
    margin-bottom: 100px;
    border: 1px solid #dddddd;
}

p {
    font-size: 25px;
    line-height: 37px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
    position: relative;
    width: 38%;
}

.container img {
    width: 300px;
    height: 200px;
}

.container .btn {
    position: absolute;
    top: 64%;
    left: 39%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: teal;
    color: white;
    font-size: 16px;
    padding: 12px 128px;
    margin-left: 8px;
    border: none;
    text-align: center;

}

/* Contact Form */
input[type=text],
textarea {
    width: 100%;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

label {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

/* footer */
#footer {
    height: 50px;
    background: #666666;
    text-align: center;
    box-shadow: 0 -6px teal;
    color: #ffffff;
    font-size: 12px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}